cmake_minimum_required(VERSION 2.6)

project(cvra-build)
set(CMAKE_BUILD_TYPE Debug)

{% for dir in include_directories %}
include_directories({{ dir }})
{% endfor %}

list( APPEND CMAKE_CXX_FLAGS "-std=c++0x")

add_executable(
    tests
    {% for file in source -%}
    {{ file }}
    {% endfor -%}

    {% for file in tests -%}
    {{ file }}
    {% endfor -%}
    )


target_link_libraries(
    tests
    m
    CppUTest
    CppUTestExt
    )

{% block additional_targets %}
{% endblock %}
