{% extends "Makefile.base.jinja" %}

{% block toolchain %}
CC = arm-none-eabi-gcc
CPP = arm-none-eabi-g++
AS  = arm-none-eabi-gcc -x assembler-with-cpp
LD = arm-none-eabi-g++
AR = arm-none-eabi-ar
OC = arm-none-eabi-objcopy
OD = arm-none-eabi-objdump
NM = arm-none-eabi-nm
SZ = arm-none-eabi-size
{% endblock %}

{% block app_src %}
{% for file in target.arm %}
{% if file.endswith('.c') %}CSRC += {{ file }}{% endif %}
{% if file.endswith('.s') %}ASMSRC += {{ file }}{% endif %}
{% if file.endswith('.cpp') %}CXXSRC += {{ file }}{% endif %}
{% endfor %}
{% endblock %}
