{% block toolchain %}
CC=@gcc
LD=@gcc
{% endblock %}

{% block cflags %}
CFLAGS = -Wall
{% endblock %}

CFLAGS += -I {{DEPENDENCIES_DIR}}

# C source files
CSRC = 
{% for file in source %}
CSRC += {{ file }}
{% endfor %}

{% block app_src %}

{% endblock %}

OBJS = $(CSRC:.c=.o)

{% block linking %}
all: app
app: $(OBJS)
	$(LD) $(OBJS) -o app
{% endblock %}

{% block c_compile %}
%.o: %.c
	@echo
	@echo Compiling $<...
	$(CC) -c $(CFLAGS) ${<} -o ${@}
{% endblock %}

{% block clean %}
clean:
	rm $(OBJS) app
{% endblock %}

{% block additional_rules %}

{% endblock %}

