{% block variables %}
Q=@
{% endblock %}

{% block toolchain %}
CC=@gcc
LD=@gcc
{% endblock %}

{% block cflags %}
CFLAGS = -Wall
{% endblock %}

{% block ldflags %}
LDFLAGS =
{% endblock %}

{% for dir in include_directories %}
CFLAGS += -I {{ dir }}
{% endfor %}

# C source files
CSRC = 
{% for file in source %}
CSRC += {{ file }}
{% endfor %}

{% block app_src %}

{% endblock %}

OBJS = $(CSRC:.c=.o) $(ASMSRC:.s=.o) $(CXXSRC:.cpp=.o)

{% block linking %}
all: app
app: $(OBJS)
	$(Q) $(LD) $(LDFLAGS) $(OBJS) -o app
{% endblock %}

{% block c_compile %}
%.o: %.c
	@echo
	@echo Compiling $<...
	$(Q) $(CC) -c $(CFLAGS) ${<} -o ${@}
{% endblock %}

{% block clean %}
clean:
	rm $(OBJS) app
{% endblock %}

{% block additional_rules %}

{% endblock %}

